body{
 background: url(https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60);
 background-size: cover;
 background-repeat: no-repeat;
}
h1{
  color:white;
  text-align: center;
  background: green;
}
html{
  height:100%;
}
img{
  height: 300px;
  width: 30%;
  margin: 1.5%;
  float: left;
  border: 2px solid yellow;
}
p{
  color:yellow;
  text-align: center;
  font-size: 50px;
}
table,thead,th,tr,td{
  color:black;
  border:2px solid green;
  margin:auto;
  font-size: 20px
}
thead,th{
  color: yellow;
  font-size: 25px;
  margin: auto;
  background-color: blue;
}
table tr:nth-of-type(even)
{background: grey;}
